.gameMe{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 180px;
    margin-left: 330px;
}

.infoGames{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.montyAce{
    padding-left: 50px;
    padding-top: 50px;
    max-width:630px;
    max-height:354px;
    margin-top: 0;
    margin-left: 0;
}

.text1{
    padding-left: 700px;
    padding-bottom: 80px;
}