body{
    background-color: rgb(7, 7, 7);
}

.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 80px; /* change it to desired width */
    background-color: whitesmoke; /* change to desired color */
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;
    font-family: sans-serif;
    font-weight: bold;
    color:rgb(7, 7, 7);
    font-size: large;   /* if you want it vertically middle of the navbar */
}

.double-backgorund{
    width: 1140px;
    min-height: calc(100vh);
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}
/*
.aboutMe{
    width: 292px;
    height: 115px;
    margin-left: 150px;
    
    background: #D9D9D9;
    border-radius: 50px;



font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 52px;

color: #202020;
}

.socialMedia{
    margin-left: 150px;
    width: 292px;
    height: 115px;

background: #D9D9D9;
    border-radius: 50px;

font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 52px;

color: #202020;
}

.hobby{
    width: 292px;
    height: 115px;
    margin-left: 150px;
background: #D9D9D9;
    border-radius: 50px;

font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 52px;

color: #202020;
}

.games{
    width: 292px;
    height: 115px;
    margin-left: 150px;
    background: #D9D9D9;
        border-radius: 50px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
    
    color: #202020; 
}
*/
body {margin:0;}
